* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font: normal 40px/50px Quicksand, sans-serif;
}
.clear {
  clear: both;
}
ul, li {
  display: block;
}
@media screen and (max-width: 800px) {
  .yerp {
    display: none;
  }
  .derp {
    display: block;
    font-size: 5vw;
    padding-top: 50vh;
    margin-top: -2.5vh;
    text-align: center;
  }
}

@media screen and (min-width: 800px) {
  .derp {
    display: none;
  }
  h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    margin: 40px 0 0;
    text-align: center;
  }
  section {
    overflow: hidden;
    .width {
      width: 800px;
      margin: 0 auto;
    }
    padding: 80px 0 0;
    position: relative;
    img.big {
      position: absolute;
      right: 50%;
      top: 320px;
    }
    .copy {
      font-size: 40px;
      line-height: 50px;
      h2 + p,
      p + p {
        padding-top: 40px;
      }
      position: relative;
      z-index: 1;
    }
  }

  .full {
    height: 800px;
    img.big {
      margin: 0 40px 0 0;
      height: 400px;
      right: 50%;
      top: 320px;
    }
    .copy {
      margin: 200px 0 0 400px;
      .fine {
        font-size: 50%;
        color: #666;
      }
    }
  }
  .license {
    background: #EFB219;
    height: 780px;
    h2 {
      font-size: 60px;
      text-align: center;
    }
    img.big {
      margin: 0 -120px 0 0;
      height: 800px;
      position: absolute;
      right: 50%;
      top: 240px;
    }
    .copy {
      margin: 200px 0 0 400px;
      p a {
        background: no-repeat left/50px url('yt.png');
        padding-left: 60px;
      }
    }
  }
  .empty {
    img.big {
      height: 400px;
      margin: 0 0 0 40px;
      left: 50%;
      top: 120px;
    }
    .copy {
      margin: 80px 460px 0 40px;
    }
    .logos {
      text-align: center;
      h2 {
        margin: 160px 0 80px;
      }
      p {
        margin: 0 0 120px;
      }
      .logos-logos {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 0.5rem 1rem;
        .logo {
					display: flex ;
					align-items: center;
					justify-content: center;
					padding: .5rem;e
        }
      }
    }
  }
  .mission {
    background: #EFB219;
    padding: 80px 0;
    .copy {
      text-align: center;
    }
    ul.links {
      margin: 40px auto;
      li {
        a {
          color: black;
          background: white;
          display: block;
          border: 10px dashed black;
          border-radius: 50vw;
          width: 240px;
          height: 240px;
          float: left;
          margin: 0 12px;
          padding: 20px;
          font-weight: bold;
          padding: 80px 0 0;
          display: block;
          text-decoration: none;
        }
      }
    }
    ul.quotes {
      li {
        margin: 40px 0;
        img {
          height: 240px;
          border-radius: 240px;
        }
        blockquote {
          padding-top: 80px;
          width: 60%;
          float: right;
          text-align: left;
        }
      }
    }
  }
  .press {
    padding: 80px 0;
    .copy {
      text-align: center;
    }
    h2 {
      font-size: 60px;
      text-align: center;
    }
    .copy {
      margin: 80px 0 0;
      line-height: auto;
      ul {
        margin: 120px 0;
        li {
          margin: 120px 0;
          img {
            height: 60px;
          }
        }
      }
    }
  }
}
